@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
  font-family: 'Poppins',sans-serif;
  background: #151515;
}

.chat-box {
  position: relative;
  width: 970px;
  height: 600px; 
  background: #1b1b1b90;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: inset 0 0 1px #353434;
  margin: 0 auto;
  margin: 50px auto 0; 
  overflow: auto; 
}

.chat-messages {
  margin-bottom: 20px;
}

.message {
  margin-top: 10px;
  color: #c7c7c7;
  font-size: 16px;
}

.field .fas {
  height: 50px;
  width: 60px;
  color: #868686;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #444;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(#333,#222);
}

/* .field input, form button {
  height: 50px;
  width: 100%;
  background-color: #333;
  outline: none;
  font-size: 16px;
  color: #868686;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  caret-color: #339933;
  background: linear-gradient(#333,#222);
}

input:focus {
  color: #339933;
  box-shadow: 0 0 5px rgba(0,255,0,.2),
              inset 0 0 5px rgba(0,255,0,.1);
  background: linear-gradient(#333933,#222922);
  animation: glow .8s ease-out infinite alternate;
} */

@keyframes glow {
  0%{
    border-color: #339933;
    box-shadow: 0 0 5px rgba(0,255,0,.2),
                inset 0 0 5px rgba(0,0,0,.1);
  }
  100%{
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6),
                inset 0 0 10px rgba(0,255,0,.4);
  }
}

.chat-area {
  height: 450px;
  overflow-y: scroll;
}

form {
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
}


/* button {
  margin-top: 10px;
  border-radius: 5px!important;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  color: #339933;
  border: 1px solid #339933;
  box-shadow: 0 0 5px rgba(0,255,0,.3),
              0 0 10px rgba(0,255,0,.2),
              0 0 15px rgba(0,255,0,.1),
              0 2px 0 black;
} */
.chat-input {
  height: 50px;
  width: 100%;
  background-color: #333;
  outline: none;
  font-size: 16px;
  color: #868686;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  caret-color: #339933;
  background: linear-gradient(#333,#222);
  animation: glow .8s ease-out infinite alternate;
}


.chat-input:focus {
  color: #339933;
  box-shadow: 0 0 5px rgba(0,255,0,.2),
              inset 0 0 5px rgba(0,255,0,.1);
  background: linear-gradient(#333933,#222922);
  animation: glow .8s ease-out infinite alternate;
}
