.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: #444242;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 10px #80ab80;
  z-index: 1;
}


.navbar a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  animation: glow 2s infinite alternate;
}

.navbar a:hover {
  background-color: rgb(255, 255, 255);
}

.login-btn {
  margin-left: 10px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding-bottom: 10px;
  }
}



/* Style the navigation bar */
/* .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
} */

/* Navbar links */
  /* .navbar a {
  display: inline-block;
  float: right;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  animation: glow 2s infinite alternate;
} */


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
/* @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */
