.sidenav {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 20px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  box-shadow: 0px 0px 15px 7px rgba(58, 175, 83, 0.767);
  border-radius: 50px; /* Added border radius */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: Arial, sans-serif;
  transition: color 0.6s, background-color 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgba(81, 201, 97, 0.342);
  transform: scale(1.05);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  color: #f1f1f1;
  cursor: pointer; /* Add cursor property */
}

.sidenav .closebtn:hover {
  color: #fff; /* Update the hover color if desired */
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu-button {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: 5px 10px;  /* reduced padding */
  background-color: #111;
  color: #f1f1f1;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  animation: glow 2s infinite alternate;
  cursor: pointer;
  font-size: 0.6em;  /* reduced font size */
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #f1f1f1;
  color: #111;
}


  